

    .Imageupload{
        width: 40%;
        height: 50vh;
        background-color: rgb(1, 4, 89);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 60vh;
        margin-top: 20vh;
        
    
        .singlephoto{
            background-color: black;
        }
    
        .multiplephoto{
            background-color: brown;
        }
       
    
}